<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <!-- Step 1 - Personal Information start -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Your Information</ng-template>
      <app-personalinformation></app-personalinformation>
      <div class="formActions">
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 2 - Basis Access start -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Access basis</ng-template>
      <app-accessbasis></app-accessbasis>
      <div class="formActions">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 3 - Choose education start -->
  <mat-step>
    <ng-template matStepLabel>Educational Choice</ng-template>
    <app-Educationalchoice></app-Educationalchoice>
    <div class="formActions">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-flat-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <!-- Step 4 - Upload start -->
  <mat-step>
    <ng-template matStepLabel>Upload</ng-template>
    <app-upload></app-upload>
    
  </mat-step>
  <!-- Step 5 - Done start -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <app-done></app-done>
    <div class="formActions">
      <button mat-flat-button color="primary" (click)="stepper.reset()">
        Close
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
