<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <!-- Step 1 - Personal Information start -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>You Information</ng-template>
      <app-personalinformation></app-personalinformation>
      <div class="formActions">
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 2 - Basis Access start -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Access basis</ng-template>
      <app-accessbasis></app-accessbasis>
      <div class="formActions">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 3 - XXX start -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div class="formActions">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-flat-button color="primary" (click)="stepper.reset()">
        Reset
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
