.container {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.containerHeader {
  margin-right: 1rem;
}
.containerText {
  margin-right: 1rem;
}
.diplomasBtn {
  margin-bottom: 2rem;
}
.selectOption {
}
.gridTile > ::ng-deep figure {
  justify-content: flex-start !important;
}
