<div class="container">
  <h3 class="containerHeader">Access basis</h3>
  <p class="containerText">
    The access basis needs to be filled out before you can apply. When you have
    sent your application you no longer have the choice to edit "Your
    information" or "Access basis".
  </p>
</div>
<div>
  <mat-form-field class="selectOption double-width">
    <mat-label>Access basis type</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let accessBasisType of accessBasisTypes"
        [value]="accessBasisType"
      >
        {{ accessBasisType }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="selectOption double-width">
    <mat-label>Basis</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let accessBasis of accessBasises"
        [value]="accessBasis"
      >
        {{ accessBasis }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="selectOption double-width">
    <mat-label>Year</mat-label>
    <mat-select>
      <mat-option *ngFor="let year of years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
