@import '../theme.scss';

.mat-card{
  padding: 0 !important;
}
.container {
  width: 800px;
  margin: 0 auto;

  &.filled mat-card {
    padding: 0;
    overflow: hidden;
  }

  .footerLinks {
    margin-top: 25px;

    a {
      margin-right: 12px;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}