@import '../theme.scss';

.mat-card{
  padding: 0 !important;
  border-top: solid 2px orange;
}

::ng-deep .mat-step-header .mat-step-icon-selected{
  background-color: orange !important;
}

.container {
  width: 800px;
  margin: 0 auto;

  &.filled mat-card {
    padding: 0;
    overflow: hidden;
  }

  .footerLinks {
    margin-top: 25px;

    a {
      margin-right: 12px;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

