<div class="container">
  <div class="header">
    <div>
      <h1>Optagelse.dk</h1>
    </div>
    <div class="dark-theme-toggle">
      <span matRipple matRippleCentered (click)="toggleTheme()" class="material-icons">{{ isDarkThemeOn == true ? 'wb_sunny' : 'brightness_2' }}</span>
    </div>
  </div>
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>

  <div class="footerLinks">
    <a href="https://viden.stil.dk/x/5gHD" target="_blank" rel="noopener noreferrer"><small>Hjælp</small></a>
    <a href="#" rel="noopener noreferrer"><small>FAQ</small></a>
    <a href="#" rel="noopener noreferrer"><small>Om optagelse.dk</small></a>
    <a href="#" rel="noopener noreferrer"><small>English</small></a>
  </div>
</div>