.inline-row {
  display: flex;
}

.error {
  color: #da0f0f;
}

.success {
  color: greenyellow;
}

.formActions {
  text-align: right;

  button:not(:last-of-type) {
    margin-right: 8px;
  }
}

::ng-deep .dark-theme .mat-progress-bar-buffer {
  background-color: #f1f1f1 !important;
}
.gridTile > ::ng-deep figure {
  justify-content: flex-start !important;
}
